<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Introduce : StreetSight</title>

    <style media="screen">
      .rectangle{
        margin: auto;
        width: 66%;
        background-color: #ffffff;
      }
      #body{
        background-color: pink;
      }
      #header{
        background-color: #ffffff;
      }
      .jumbotron{
        width: 66%;
        margin: auto;
      }
      .navbar-default{
        width: 66%;
        margin: auto;
      }
      #a{
        width: 66%;
        margin: auto;
      }
      #b{
        width: 66%;
        margin: auto;
      }
      #c{
        width: 66%;
        margin: auto;
      }
    </style>

    <link href="../public/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body id="body">
    <div class="rectangle">
      <header>
        <div class="jumbotron" id="header" style="color: black">
          <h1 style="word-break: keep-all">Introduce StreetSight</h1>
          <p style="word-break: keep-all">StreetSight를 소개합니다.</p>
        </div>
      </header>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./main">Main</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="./maps">statistics</a></li>
              <li><a href="./achives">Achievements</a></li>
              <li><a href="./introduce">Introduce StreetSight</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="./support">Support</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Bulletin</a></li>
                  <li><a href="#">Upload</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="https://www.dimigo.hs.kr/">dimigo.hs.kr</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <article>
        <div id="a">
          <p>
            <br>
            <h2 class="text-center" style="word-break: keep-all">StreetSight란? <br><small>StreetSight 소개, 기능, 개발 배경과 목적</small></h2>
            <br>
            <p class="text-center" style="word-break: keep-all">
              <span>최근 보행 중 스마트폰 사용으로 인한 교통사고가 많이 발생하고 있습니다. Smartphone과 Zombie의 합성어인 Smombie라는 신조어가 탄생할 정도로 보행 중 스마트폰 사용자 인구는 매우 많습니다. 보험사 현대해상의 자체 DB분석 통계에 따르면 보행 중 스마트폰 사고는 2011년에 비해 2016년 1.6배 가량 증가했으며, 10대 이하부터 60대 이상까지 연령대를 불문하고 그 발생률이 높은 상황입니다. 또한, 같은 통계에서는 보도 보행자의 33%, 횡단보도 보행자의 26%가 스마트폰을 사용하는 것으로 나타났고, 스마트폰 사용시 시야의 폭은 56%, 전방주시율은 85%가 감소하는 것으로 나타났습니다. 저희는 이런 현재의 상황이 사용자들의 자발적인 주의 촉구 등으로는 해소하지 못할 것으로 보아 StreetSight라는 서비스를 구상하게 되었습니다.</span>
            </p>
          </p>
        </div>
        <br>

        <br><br><br><br>
      </article>

      <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../public/js/bootstrap.min.js"></script>
      </footer>
    </div>

  </body>
</html>
