<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Support : StreetSight</title>

    <style media="screen">
      .rectangle{
        margin: auto;
        width: 66%;
        background-color: #ffffff;
      }
      #body{
        background-color: pink;
      }
      #header{
        background-color: #ffffff;
      }
      .jumbotron{
        width: 66%;
        margin: auto;
      }
      .navbar-default{
        width: 66%;
        margin: auto;
      }
      #a{
        width: 66%;
        margin: auto;
      }
    </style>

    <link href="../public/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body id="body">
    <div class="rectangle">
      <header>
        <div class="jumbotron" id="header" style="color: black">
          <h1>Additional Support</h1>
          <p style="word-break: keep-all">StreetSight를 사용하는 데 문제가 있으신가요?</p>
        </div>
      </header>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./main">Main</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="./maps">statistics</a></li>
              <li><a href="./achives">Achievements</a></li>
              <li><a href="./introduce">Introduce StreetSight</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="./support">Support</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Bulletin</a></li>
                  <li><a href="#">Upload</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="https://www.dimigo.hs.kr/">dimigo.hs.kr</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <article>
        <div id="disqus_thread" style="padding: 15%"></div>
        <script>
          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://test-vjutykeyzh.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </article>

      <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../public/js/bootstrap.min.js"></script>
      </footer>
    </div>

  </body>
</html>
